@import "blocks/variables.scss";
@import "blocks/order.scss";
@import "general/fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
}