@import "blocks/variables.scss";
@import "blocks/succes_form.scss";
@import "general/fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
}